.frame-parent2,
.piechart-inner {
  position: absolute;
  top: 143px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent2 {
  top: 58px;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.emission-by-supplier {
  position: relative;
  font-weight: 500;
  background: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84)), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vector-icon5 {
  position: relative;
  width: 16px;
  height: 16px;
}
.full-screen {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs);
}
.vector-icon6 {
  position: relative;
  width: 16px;
  height: 4px;
}
.more-horiz {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-7xs);
}
.emission-by-supplier-parent,
.full-screen-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.full-screen-parent {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 80px rgba(0, 0, 0, 0.04), 0 2px 16px rgba(0, 0, 0, 0.02),
    0 0.5px 4px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--color-whitesmoke);
  height: 36px;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-9xs);
  gap: var(--gap-11xs);
}
.emission-by-supplier-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 459px;
  height: 64px;
  justify-content: space-between;
  padding: var(--padding-xl);
  font-size: var(--font-size-sm);
}
.group-child {
  position: absolute;
  top: 100.3px;
  left: 163.1px;
  width: 163.8px;
  height: 166.4px;
}
.group-inner,
.group-item {
  position: absolute;
  height: 4px;
}
.group-item {
  top: 266px;
  left: 244px;
  width: 39px;
  object-fit: contain;
}
.group-inner {
  top: 134px;
  left: 139px;
  width: 38px;
}
.group-child1,
.group-child2 {
  position: absolute;
  top: 106px;
  left: 178px;
  width: 27px;
  height: 6px;
}
.group-child2 {
  top: 87px;
  left: 233px;
  width: 20px;
  height: 15px;
}
.group-child3,
.group-child4 {
  position: absolute;
  top: 144px;
  left: 321px;
  width: 38px;
  height: 8px;
}
.group-child4 {
  top: 208px;
  left: 134px;
  width: 33px;
  height: 23px;
}
.c02e,
.supplier-11 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.supplier-11 {
  background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), #fff;
}
.c02e {
  background: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84)), #fff;
}
.supplier-1-parent,
.supplier-2-parent,
.supplier-3-parent,
.supplier-4-parent,
.supplier-5-parent,
.supplier-6-parent {
  position: absolute;
  top: 224px;
  left: 64px;
  width: 47px;
  height: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.supplier-2-parent,
.supplier-3-parent,
.supplier-4-parent,
.supplier-5-parent,
.supplier-6-parent {
  top: 124px;
  left: 91px;
  width: 48px;
  height: 28px;
}
.supplier-3-parent,
.supplier-4-parent,
.supplier-5-parent,
.supplier-6-parent {
  top: 84px;
  left: 131px;
  height: 29px;
}
.supplier-4-parent,
.supplier-5-parent,
.supplier-6-parent {
  top: 131px;
  left: 365px;
  width: 47px;
  height: 28px;
}
.supplier-4-parent,
.supplier-6-parent {
  top: 257px;
  left: 290px;
}
.supplier-4-parent {
  top: 72px;
  left: 261px;
}
.frame-parent3,
.piechart {
  position: absolute;
  top: 3px;
  left: 0;
  width: 459px;
  height: 285px;
}
.piechart {
  top: 964px;
  left: 262px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 350px;
  text-align: left;
  font-size: var(--font-size-xs);
  font-family: var(--font-helveticaneue);
}
